<!--
  ~ Copyright © 2024 Alessandro Accardo a.k.a. kLeZ <julius8774@gmail.com>
  ~ This file is part of AAccardo Personal WebSite.
  ~
  ~ AAccardo Personal WebSite is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ AAccardo Personal WebSite is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with AAccardo Personal WebSite.  If not, see <http://www.gnu.org/licenses/>.
  ~
  -->

<!DOCTYPE html>
<html layout:decorator="master/layout" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Change Password</title>
</head>
<body>
<div class="container" layout:fragment="content">
    <div class="row">
        <div class="col text-center">
            <img alt="Logo" class="logo" th:src="@{/images/logo.png}"/>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body" th:if="${result=='OK'}">
                    <div class="alert alert-success" style="margin-bottom:0;">
                        Cambio password avvenuto con successo
                    </div>
                </div>
                <div class="card-body" th:if="${result=='KO' && error=='Link di reset password scaduto'}">
                    <div class="alert alert-danger" style="margin-bottom:0;">
                        <b>Link di reset password scaduto</b>
                        <br/>La richiesta effettuata &egrave; scaduta, si consiglia di richiedere un nuovo reset della
                        password o di contattare l'assistenza se il problema
                        dovesse persistere.
                    </div>
                </div>
                <div class="card-body" th:if="${result!='OK' && error!='Link di reset password scaduto'}">

                    <div>
                        Benvenuto <b th:text="${username}"></b>
                    </div>
                    <div class="alert alert-primary">
                        <b>Requisiti nuova password:</b>
                        <br/>&bull; deve essere di almeno 12 caratteri
                    </div>
                    <div class="alert alert-danger" th:if="${result=='KO'}" th:text="${error}"></div>

                    <form class="col-12" id="auth-changepwd-form" method="POST" th:action="@{/changePassword}">

                        <label class="form-label mt-2" for="current-password">Password corrente</label>
                        <div class="input-group">
                            <input autocomplete="off" class="form-control" id="current-password"
                                   th:field="${input.currentPassword}" type="password"/>
                            <i aria-hidden="true" class="toggle-password input-group-text fa fa-eye"
                               toggle="#current-password"></i>
                        </div>

                        <label class="form-label mt-2" for="new-password">Nuova password</label>
                        <div class="input-group newPwdGroup">
                            <input autocomplete="off" class="form-control" id="new-password"
                                   th:field="${input.newPassword}" type="password"/>
                            <i aria-hidden="true" class="toggle-password input-group-text fa fa-eye"
                               toggle="#new-password"></i>
                        </div>
                        <div style="height:20px;">
                            <div id="meter_wrapper">
                                <div id="meter-text">Indicatore password</div>
                                <div id="meter"></div>
                            </div>
                        </div>

                        <label class="form-label mt-2" for="confirm-password">Ripeti nuova password</label>
                        <div class="input-group mb-4">
                            <input autocomplete="off" class="form-control" id="confirm-password"
                                   th:field="${input.confirmPassword}" type="password"/>
                            <i aria-hidden="true" class="toggle-password input-group-text fa fa-eye"
                               toggle="#confirm-password"></i>
                        </div>

                        <button class="col-12 btn btn-primary" id="btn-auth-changepwd" type="submit">Cambia Password
                        </button>

                    </form>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            const newPwdField = document.querySelector("#new-password");
            const meter = document.querySelector("#meter");
            const meterText = document.querySelector("#meter-text");
            newPwdField.onkeyup = function (e) {
                const val = newPwdField.value;
                let no = 0;
                if (val !== "") {
                    // If the password length is less than or equal to 6
                    if (val.length <= 6) no = 1;

                    // If the password length is greater than 6 and contain any lowercase alphabet or any number or any special character
                    if (val.length > 6 && (val.match(/[a-z]/) || val.match(/\d+/) || val.match(/.[!,@,#,$,%,^,&,*,?,_,~,-,(,)]/))) no = 2;

                    // If the password length is greater than 6 and contain alphabet,number,special character respectively
                    if (val.length > 6 && ((val.match(/[a-z]/) && val.match(/\d+/)) || (val.match(/\d+/) && val.match(/.[!,@,#,$,%,^,&,*,?,_,~,-,(,)]/)) || (val.match(/[a-z]/) && val.match(/.[!,@,#,$,%,^,&,*,?,_,~,-,(,)]/)))) no = 3;

                    // If the password length is greater than 6 and must contain alphabets,numbers and special characters
                    if (val.length > 6 && val.match(/[a-z]/) && val.match(/\d+/) && val.match(/.[!,@,#,$,%,^,&,*,?,_,~,-,(,)]/)) no = 4;

                    if (no == 1) {
                        meter.style.width = "25%";
                        meter.style.backgroundColor = "#e53935";
                        meterText.innerHTML = "Sconsigliata";
                    }
                    if (no == 2) {
                        meter.style.width = "50%";
                        meter.style.backgroundColor = "#f7bd36";
                        meterText.innerHTML = "Debole";
                    }
                    if (no == 3) {
                        meter.style.width = "75%";
                        meter.style.backgroundColor = "#d4ec35";
                        meterText.innerHTML = "Buona";
                    }
                    if (no == 4) {
                        meter.style.width = "100%";
                        meter.style.backgroundColor = "#68f36d";
                        meterText.innerHTML = "Sicura";
                    }
                } else {
                    meter.style.width = "0%";
                    meter.style.backgroundColor = "none";
                    meterText.innerHTML = "Indicatore password";
                }
            };
        });
    </script>
</div>
</body>
</html>
