<!--
  ~ Copyright © 2024 Alessandro Accardo a.k.a. kLeZ <julius8774@gmail.com>
  ~ This file is part of AAccardo Personal WebSite.
  ~
  ~ AAccardo Personal WebSite is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ AAccardo Personal WebSite is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with AAccardo Personal WebSite.  If not, see <http://www.gnu.org/licenses/>.
  ~
  -->

<!DOCTYPE html>
<html layout:decorator="master/layout" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<div class="container" layout:fragment="content">
    <div class="row">
        <div class="col text-center">
            <img alt="Logo" class="logo" th:src="@{/images/logo.png}"/>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Home</h3>
                    <h6 class="card-subtitle mb-2 text-muted"><b th:text="${username}"></b></h6>
                    <a class="link me-3" id="changePwdLink" th:href="'changePassword/'+${username}"><small>Cambio
                        password</small></a>
                    <a class="link" id="logoutLink" th:href="'logout'"><small>Logout</small></a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
