<!--
  ~ Copyright © 2024 Alessandro Accardo a.k.a. kLeZ <julius8774@gmail.com>
  ~ This file is part of AAccardo Personal WebSite.
  ~
  ~ AAccardo Personal WebSite is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ AAccardo Personal WebSite is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with AAccardo Personal WebSite.  If not, see <http://www.gnu.org/licenses/>.
  ~
  -->

<!DOCTYPE html>
<html layout:decorator="master/layout" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<div class="container" layout:fragment="content">
    <div class="row">
        <div class="col text-center">
            <img alt="Logo" class="logo" th:src="@{/images/logo.png}"/>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Login</h3>
                    <!--/*@thymesVar id="moduleDescription" type="java.lang.String"*/-->
                    <h4 class="card-subtitle mb-2 text-muted" th:if="${moduleDescription}"
                        th:text="${moduleDescription}"></h4>
                    <h4 class="card-subtitle mb-2 text-muted" th:unless="${moduleDescription}">Please login</h4>
                    <form method="post" role="form" th:action="@{/login}">
                        <div class="alert alert-danger" th:if="${param.error}">
                            Invalid username and password.
                        </div>
                        <div class="alert alert-danger"
                             th:if="${param.errorMsg!=null && param.errorMsg[0] == 'TOO_MANY_FAILED_ATTEMPTS'}">
                            Utente Temporaneamente disabilitato: troppi tentativi falliti
                        </div>

                        <label class="form-label mt-2" for="username">Username</label>
                        <input class="form-control" id="username" name="username" type="text"/>

                        <label class="form-label mt-2" for="password">Password</label>
                        <div class="input-group">
                            <input class="form-control" id="password" name="password" type="password"/>
                            <i aria-hidden="true" class="toggle-password input-group-text fa fa-eye"
                               toggle="#password"></i>
                        </div>

                        <div class="mt-3">
                            <button class="btn btn-primary" type="submit">Accedi</button>
                            <a class="link float-right" href="recoveryPassword" id="recoveryLink"><small>Password
                                dimenticata?</small></a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
