<!--
  ~ Copyright © 2024 Alessandro Accardo a.k.a. kLeZ <julius8774@gmail.com>
  ~ This file is part of AAccardo Personal WebSite.
  ~
  ~ AAccardo Personal WebSite is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ AAccardo Personal WebSite is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with AAccardo Personal WebSite.  If not, see <http://www.gnu.org/licenses/>.
  ~
  -->

<!DOCTYPE html>
<html layout:decorator="master/layout" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Recovery Password</title>
</head>
<body>
<div class="container" layout:fragment="content">
    <div class="row">
        <div class="col text-center">
            <img alt="Logo" class="logo" th:src="@{/images/logo.png}"/>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body" th:if="${result=='OK'}">
                    <div class="alert alert-success" style="margin-bottom:0;">
                        Email di recupero password inviata
                    </div>
                </div>
                <div class="card-body" th:if="${result!='OK'}">

                    <div class="alert alert-primary">
                        <b>Recupero Password</b>
                        <br/>E' possibile richiedere il recupero della password inserendo il proprio indirizzo di posta.
                        <br/>Il sistema inviera' una email di conferma, con le istruzioni necessarie.
                    </div>
                    <div class="alert alert-danger" th:if="${result=='KO'}" th:text="${error}"></div>
                    <form class="col-12" id="auth-recoverypwd-form" method="POST" th:action="@{/recoveryPassword}">

                        <label class="form-label mt-2" for="recovery-email">Indirizzo Email</label>
                        <div class="input-group mb-4">
                            <input autocomplete="off" class="form-control" id="recovery-email" name="email"
                                   th:value="${email}" type="email"/>
                            <i aria-hidden="true" class="recovery-email input-group-text fa fa-at"></i>
                        </div>

                        <button class="col-12 btn btn-primary" id="btn-auth-recoverypwd" type="submit">Recupera
                            Password
                        </button>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
